<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>edit comment</title>

</head>

<body>
    <%- include('/home/aazizsigar/challangenodejs/challange/shared/head.ejs') %>
        <%- include('/home/aazizsigar/challangenodejs/challange/shared/header.ejs') %>
            <div>
                <form action="/edit-comment/<%= info._id %>" method="post">
                    <label for="desc">description:</label>
                    <input id="comment" type="text" name="comment" placeholder="comment" value="<%= info.comment %>">
                    <br><br><br><br>

                    <button>update the comment</button>
                </form>
                <% if(err) { %>
                    <h6><%= err%></h6><% } %>
            </div>
            <!-- <form action="">
        <input type="text" name="title" placeholder="title"  value="<%= info.title %>">
    </form> -->

</body>

</html>