<!DOCTYPE html>
<html lang="en">

    <%- include('/home/aazizsigar/challangenodejs/shared/head.ejs') %>
    <title>Abdulaziz Sigar</title>
    <style>
        body{
            width: 80%;
            margin: auto;
            padding: 20px;
            display: flex;
            flex-direction: column;
            align-items: center;
            

        }
        form{
            margin: 10px;
        }
        h6{
            height: 30px;
            background-color: chocolate;
            box-shadow: 4px 4px black;
            box-shadow: 2px 2px black;
            padding: 5px;
        }
        .card-body{
            margin: 20px;
            border: 1px black solid;
            gap: 1;
            box-shadow: 2px 2px black;
        }
    </style>
</head>
<body>
    <link rel="stylesheet"
    href="https://fonts.googleapis.com/css?family=Pacifico">
    <h1>challange facebook #️⃣</h1>
   <%- include('/home/aazizsigar/challangenodejs/shared/header.ejs') %>
   <% if(post.length > 0) { %>
    <% post.forEach(post =>  { %>
        <div class="card"  style="width: 18rem;">
            <div class="card-body">
               
                
                <a href=""></a>
                <button>

                    <a href="/edit-post/<%= post._id%>" > 🖊️ </a>
                </button>
                    
                <h1><%= post.title %></h1>
                <h4><%= post.desc %></h4>
            </div>
        </div>
        <div>
            <form method="post" action="/add-comment/<%= post._id %>">
                <input name="comment" placeholder="comments">
                <button class="btn btn-secondary"> ➕</button>
            </form>
        </div>
        <div>
            <% if(post.comments.length > 0) { %>
                <% post.comments.forEach(comment => { %>
                    <div>
                        <h5>
                            <%= comment.comment %>
                            <button>
                                    <a href="/delete-comment/<%= comment._id %>">delete comment</a>
                            </button>
                        </h5>
                       
                    </div>
                    <% }) %>
                    <% } %>
        </div>
        <% }) %>
   <% } else { %>
    <p>no post here for now</p>
   <% } %>
</body>
</html>
<!-- use feed -->
<!-- use feed -->